
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <form enctype="multipart/form-data" name="formulario" id="formulario" method="post">

        <div class="col-md-12">
            <h3>Importar Arquivo</h3>
            <hr />
            <button onclick="$('#oFile').click();"><i class="glyphicon glyphicon-file"></i> Selecione...</button>
            <input type="file" name="oFile" id="oFile" style="display:none;" />
        </div>
    </form>
</div>
<br />
<div class="col-md-12">
    <br />
    <div class="panel panel-success">
        <div class="panel-heading">Resultado</div>
        <div class="panel-body" style="width:100%; height: 400px;">

        </div>
    </div>
</div>

